<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <title>Recipes - Hestia Cooking</title>
</head>

<body>
  <%- include('../partials/nav') %>

    <div class="main">

      <nav
        style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Index</a></li>
          <li class="breadcrumb-item active" aria-current="page">Recipes</li>
        </ol>
      </nav>

      <h4 class="titulo">Last added recipes</h4>

      <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Search by categories
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/categories/1"><img src="../../images/icons/cheesecake-dark.png"
                width="35"> Pies</a></li>
          <li><a class="dropdown-item" href="/categories/2"><img src="../../images/icons/galletas-dark.png" width="35">
              Cookies</a></li>
          <li><a class="dropdown-item" href="/categories/3"><img src="../../images/icons/macaroons-dark.png" width="35">
              Alfajores</a></li>
          <li><a class="dropdown-item" href="/categories/4"><img src="../../images/icons/whipped-cream-dark.png"
                width="35"> Mousse</a></li>
          <li><a class="dropdown-item" href="/categories/5"><img src="../../images/icons/custard-dark.png" width="35">
              Custard</a></li>
          <li><a class="dropdown-item" href="/categories/6"><img src="../../images/icons/helado-dark.png" width="35">
              Ice Cream</a></li>
          <li><a class="dropdown-item" href="/categories/7"><img src="../../images/icons/muffin-dark.png" width="35">
              Muffins</a></li>
        </ul>
      </div>
      <br>

      <div class="grid">
        <% recipes.forEach(recipe=> { %>
          <div class="card grid-item card_i">
            <a href="/recipes/<%= recipe.id %>">
              <img src="../uploads/<%= recipe.image %>" class="card-img-top" alt="<%= recipe.title %>">
              <div class="card-body">
                <h5 class="card-title">
                  <%= recipe.title %>
                </h5>
                <p class="card-text"><%- recipe.content.substring(0, 100)%>...</p>
              </div>
              <div class="card-footer">
                Category: <%= recipe.category %>
              </div>
              <div class="card-footer">
                By: <%= recipe.createdBy %>
              </div>
          </div>
          </a>
          <% }) %>
      </div>
    </div>

    <nav>
      <ul class="pagination justify-content-center">
        <% for (let i=1; i <=totalPages; i++) { %>
          <li class="page-item <%= i === currentPage ? 'active' : '' %>">
            <a class="page-link" href="/recipes?page=<%= i %>">
              <%= i %>
            </a>
          </li>
          <% } %>
      </ul>
    </nav>

    <%- include('../partials/footer') %>
      <script src="../js/masonry.pkgd.min.js"></script>
</body>

</html>