<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="../bootstrap@5.3.0-alpha1/css/bootstrap.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>My profile's recipes | Hestia Cooking</title>
</head>

<body>
  <%- include('../partials/nav') %>

    <div class="main">

      <nav
        style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Index</a></li>
          <li class="breadcrumb-item"><a href="/recipes">Recipes</a></li>
          <li class="breadcrumb-item active" aria-current="page">My recipes</li>
        </ol>
      </nav>

      <h4 class="titulo">My profile's recipes</h4>
      <br>

      <div class="grid">
        <% recipes.forEach(recipe=> { %>
          <div class="card grid-item card_i">
            <a href="/recipes/<%= recipe.id %>">
              <img src="../uploads/<%= recipe.image %>" class="card-img-top" alt="<%= recipe.title %>">
              <div class="card-body">
                <h5 class="card-title">
                  <%= recipe.title %>
                </h5>
                <p class="card-text"><%- recipe.content.substring(0, 100) %></p>
              </div>
              <div class="card-footer">
                <%= recipe.category %>
              </div>
              <div class="card-footer">
                Creado por: <%= recipe.createdBy %>
              </div>
            </div>
              <% }) %>
            </a>
          </div>
      </div>
    <%- include('../partials/footer') %>
      <script src="../js/masonry.pkgd.min.js"></script>
</body>

</html>